/.idea
.idea/misc.xml
.idea/My_Libs.iml
.idea/workspace.xml
.idea/misc.xml
.idea/My_Libs.iml
.idea/workspace.xml
.idea/workspace.xml
.idea/My_Libs.iml
.idea/misc.xml
.idea/misc.xml
.idea/My_Libs.iml
.idea/workspace.xml
.idea/workspace.xml
.idea/misc.xml
.idea/workspace.xml
.idea/My_Libs.iml
.idea/misc.xml
.idea/My_Libs.iml
.idea/workspace.xml
.idea/workspace.xml
Deep Learning/1/data/train_32x32.mat
